<h3>Individual Men</h3>
<%= render :partial => 'shared/athletes', :object => @individual_men %>
<h3>Individual Women</h3>
<%= render :partial => 'shared/athletes', :object => @individual_women %>

<h3>Masters Men 40-44</h3>
<%= render :partial => 'shared/athletes', :object => @masters_40_44_men %>
<h3>Masters Women 40-44</h3>
<%= render :partial => 'shared/athletes', :object => @masters_40_44_women %>

<h3>Masters Men 45-49</h3>
<%= render :partial => 'shared/athletes', :object => @masters_45_49_men %>
<h3>Masters Women 45-49</h3>
<%= render :partial => 'shared/athletes', :object => @masters_45_49_women %>

<h3>Masters Men 50-54</h3>
<%= render :partial => 'shared/athletes', :object => @masters_50_54_men %>

<h3>Masters Women 55-59</h3>
<%= render :partial => 'shared/athletes', :object => @masters_55_59_women %>